@keyframes linkOver {
    0% {
        color: #808080;
    }
    100% {
        color: #cc4a22;
    }
}

@keyframes linkNotOver {
    0% {
        color: #cc4a22;
    }
    100% {
        color: #808080;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

@keyframes fadeInNotice {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 0.98;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}