@keyframes linkOver {
    0% {
        color: #808080;
    }
    100% {
        color: #cc4a22;
    }
}

@keyframes linkNotOver {
    0% {
        color: #cc4a22;
    }
    100% {
        color: #808080;
    }
}