#mainArea {
    border: 0.2vw solid #cc4a22;
    border-radius: 1vw;
    width: 90vw;
    height: 50vh;
    margin: 8vh 5vw 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#pads {
    flex: 0 1 50%;
    background-color: #808080;
    border: 0.2vw solid #cc4a22;
    border-radius: 1vh;
    height: 45vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 1vw;
}

.drumPad {
    height: 8vh;
    margin: 0 0.5vw;
    background-color: #e2e2e2;
    outline: none;
    border: 0.2vh solid black;
    border-radius: 1vh;
    box-shadow: 0.2vw 0.2vh 0.2vw #3b04046b, -0.2vw -0.2vh 0.2vw #3b04046b;
    flex: 1 0 40%;
}

.drumPadActive {
    background-color: #dbbe17;
    box-shadow: none;
}

.sampleName {
    font-weight: 500;
    font-size: calc(0.7em + 0.5vw);
    padding-bottom: 0.5vh;
}