#pads {
    background-color: #d44742;
    border-radius: 1vh;
    width: 50vw;
    max-height: 53vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 1vw;
}

.drum-pad {
    width: 10vw;
    height: 10vh;
    margin: 1vh 1vw;
    background-color: #e2e2e2;
    outline: none;
    border: 0.2vh solid black;
    border-radius: 1vh;
    box-shadow: 0.2vw 0.2vh 0.2vw #3b04046b, -0.2vw -0.2vh 0.2vw #3b04046b;
    flex: 1 0 25%;
}

/* light up buttons */
.drum-pad:active, .active {
    background-color: #dbbe17;
    box-shadow: none;
}

.letter {
    font-weight: 800;
    font-size: 1.5em;
    padding-bottom: 0.5vh;
}