#drum-machine {
    width: 70vw;
    height: 70vh;    
    background-color: #888888;
    position: absolute;
    top: 15vh;
    left: 15vw;
    border: 0.2vh solid #252525;
    border-radius: 1vh;
    box-shadow: 0.4vw 0.4vh 0.4vw #696969bb, -0.4vw -0.4vh 0.4vw #696969bb;
}

@media(max-width: 550px) {
    #drum-machine {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }
}

#title {
    float: right;
    margin: 1vh 2vw;
}

#title a {
    text-decoration: none;
    color: white;
}

#display {
    width: 60vw;
    background-color: #000000;
    color: #0a8f2b  ;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding: 3vh 0;
    margin: 5vh auto 1vh;
    border: 3px double white;
    border-radius: 0.8vh;
}

#controls {
    height: 50vh;
    margin: 3vh 5vw;
    display: flex;
    flex-direction: row;
}

#pads {
    background-color: #690b0b;
    border-radius: 1vh;
    width: 50vw;
    max-height: 53vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 1vw 0 0;
}

#master {
    background-color: #d3d3bd;
    border-radius: 1vh;
    width: 20vw;
}

.drum-pad {
    /*max-width: 10vw;
    height: 10vh;
    margin: 1vh 1vw;*/
    width: 10vw;
    height: 10vh;
    margin: 1vh 1vw;
    background-color: #e2e2e2;
    outline: none;
    border: 0.2vh solid black;
    border-radius: 1vh;
    box-shadow: 0.2vw 0.2vh 0.2vw #3b04046b, -0.2vw -0.2vh 0.2vw #3b04046b;
}

/* light up buttons */
.drum-pad:active, .active {
    background-color: #dbbe17;
    box-shadow: none;
}

.letter {
    font-weight: 800;
    font-size: 1.5em;
    padding-bottom: 0.5vh;
}