#drum-machine {
    width: 70vw;
    height: 70vh;    
    background-color: #d3d3bd;
    position: absolute;
    top: 15vh;
    left: 15vw;
    border: 0.2vh solid #252525;
    border-radius: 1vh;
    box-shadow: 0.4vw 0.4vh 0.4vw #696969bb, -0.4vw -0.4vh 0.4vw #696969bb;
}

#title {
    float: right;
    margin: 1vh 4vw;
    font-family: 'Bree Serif', serif;
    color: #d44742;
    font-size: 1.5em;
}

#website {
    float: left;
    margin: 1.5vh 4vw;
}

#website a {
    text-decoration: none;
    color: #5a6163;
}

#website a:hover {
    animation: linkOver 0.7s ease-in 0s 1 forwards;
}

#website a:not(:hover) {
    animation: linkNotOver 0.7s ease-in 0s 1 forwards;
}

#display {
    width: 60vw;
    background-color: #000000;
    color: #0a8f2b  ;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding: 3vh 0;
    margin: 5vh auto 1vh;
    border: 3px double white;
    border-radius: 0.8vh;
}

#controls {
    height: 50vh;
    margin: 3vh 5vw;
    display: flex;
    flex-direction: row;
}

#master {
    display: flex;
    flex-direction: column;
}

#volumeSlider {
    background-color: #1e7e9b;
    border-radius: 1vh;
    width: 20vw;
    flex-grow: 1;
    margin-bottom: 1vh;
}

#bankSelect {
    background-color: #5a6163;
    border-radius: 1vh;
    width: 20vw;
    flex-grow: 1;
    margin-top: 1vh;
    text-align: center;
}

#bankDisplay, #volumeDisplay {
    width: 15vw;
    background-color: #000000;
    color: #0a8f2b  ;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 0.8em;
    padding: 1vh 0;
    margin: 1vh auto;
    border: 3px double white;
    border-radius: 0.8vh;
}

#bankButton {
    width: 8vw;
    height: 4vh;
    margin: 3vh 0;
    background-color: #e2e2e2;
    outline: none;
    border: 0.2vh solid black;
    border-radius: 1vh;
    box-shadow: 0.2vw 0.2vh 0.2vw #3b04046b, -0.2vw -0.2vh 0.2vw #3b04046b;
}

/* light up button */
#bankButton:active {
    background-color: #17db48;
    box-shadow: none;
}