#pads {
    flex: 1 1 60%;
    background-color: #808080;
    border-radius: 1vh;
    max-height: 55vh;
    padding: 1vh 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 1vw;
}

.drumPad {
    width: 10vw;
    height: 10vh;
    margin: 1vh 1vw;
    background-color: #e2e2e2;
    outline: none;
    border: 0.2vh solid black;
    border-radius: 1vh;
    box-shadow: 0.2vw 0.2vh 0.2vw #3b04046b, -0.2vw -0.2vh 0.2vw #3b04046b;
    flex: 1 0 25%;
}

.drumPadActive {
    background-color: #dbbe17;
    box-shadow: none;
}

.letter {
    font-weight: 800;
    font-size: 1.5em;
    padding-bottom: 0.5vh;
}