#drum-machine {
    width: 100vw;
    height: 100vh;    
    position: absolute;
    top: 0;
    left: 0;
    /*animation: fadeIn 0.5s linear 1.5s 1 both;*/
}

#title {
    float: right;
    margin: 2vh 6vw;
    color: #cc4a22;
    font-size: 1.9em;
}

#website {
    float: left;
    margin: 2.5vh 6vw;
}

#website a {
    text-decoration: none;
    color: #808080;
    font-family: 'Poppins', sans-serif;
}

#website a:hover {
    animation: linkOver 0.7s ease-in 0s 1 forwards;
}

#website a:not(:hover) {
    animation: linkNotOver 0.7s ease-in 0s 1 forwards;
}