#master {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    margin: 0 1vw;
    border: 0.2vw solid #cc4a22;
    border-radius: 1vw;
}

.slider {
    flex: 1 1 15%;
}

.display {
    width: 15vw;
    flex: 1 1 15%;
    background-color: #000000;
    color: #0a8f2b  ;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: calc(0.3em + 0.5vw);
    padding: 1vh 0;
    margin: 0 1vw 1vh;
    border: 3px double #b6b6b6;
    border-radius: 0.8vh;
}

#playControls {
    flex: 1 1 15%;
    margin: 1vh 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.playControl {
    height: 5vh;
    outline: none;
    border: 0.2vh solid black;
    border-radius: 0.7vh;
    box-shadow: 0.2vw 0.2vh 0.2vw #3b04046b, -0.2vw -0.2vh 0.2vw #3b04046b;
    flex: 0 1 28%;
    font-size: 1em;
    font-weight: 600;
}

.stopButtonActive {
    background-color: #cd311e;
    box-shadow: none;
}

.playButtonActive {
    background-color: #3ad31c;
    box-shadow: none;
}

.pauseButtonActive {
    background-color: #dbbe17;
    box-shadow: none;
}

#returnToZeroButton:active {
    background-color: #dbbe17;
    box-shadow: none;
}