@media(max-width: 620px) {
    #drum-machine {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        border-radius: 0;
    }

    #title {
        font-size: calc(1em + 0.5vw);
    }

    #website {
        font-size: calc(0.6em + 0.5vw);
    }

    #display {
        width: 90vw;
    }

    #controls {
        flex-direction: column;
        height: 80vh;
    }

    #pads {
        width: 90vw;
        height: 70vh;
        margin-right: 0;
    }

    #master {
        flex-direction: row;
        margin: 1vh 1vw;
    }

    #volumeSlider {
        margin: 0 1vw 0 0;
        flex: 1 0 45%;
    }

    #bankSelect {
        flex: 1 0 45%;
        margin: 0 0 0 1vw;
    }

    #bankDisplay, #volumeDisplay {
        width: 35vw;
        font-size: calc(0.6em + 0.3vw);
        padding: 1vh 0;
        margin: 1vh auto;
        border: 3px double white;
        border-radius: 0.8vh;
    }

    #bankButton {
        width: 25vw;
        height: 10vh;
    }
}

@media(max-height: 760px) {
    #drum-machine {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        border-radius: 0;
    }

    #title {
        font-size: calc(1em + 0.5vw);
    }

    #website {
        font-size: calc(0.6em + 0.5vw);
    }

    #controls {
        height: 80vh;
    }

    #pads {
        flex: 1 0 75%;
        max-height: 100vh;
    }

    .drum-pad {
        height: 21vh;
    }

    #bankButton {
        width: 12vw;
        height: 13vh;
    }
}

@media(max-height: 560px) {
    input[type=range]::-webkit-slider-thumb {
        margin-top: -6px;
    }
}