#sequencer {
    position: absolute;
    bottom: 15vh;
    left: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    background: linear-gradient(135deg, #808080, #8f8f8f);
    padding: 1vh 1vw;
    border-radius: 1vh;
}

.seqPad {
    height: 5vh;
    margin: 1vh 0.1vw;
    outline: none;
    border: 0.2vh solid #4d4c4c;
    border-radius: 0.7vh;
    box-shadow: 6px 4px 7px -1px #4b4b4b;
    flex: 1 1 2%;
    font-size: calc(0.5em + 0.5vw);
    font-weight: 600;
}

.seqPadA {
    background: linear-gradient(135deg, #cd311e, #e65340);
}

.seqPadB {
    background: linear-gradient(135deg, #e2792e, #ff9c55);
}

.seqPadC {
    background: linear-gradient(135deg, #dbbe17, #f0d95c);
}

.seqPadD {
    background: linear-gradient(135deg, #ffffff, #ebebeb);
}

.seqPadActive {
    background: linear-gradient(135deg, #3ad31c, #7ee969);
    box-shadow: none;
}