#sequencerLights {
    position: absolute;
    bottom: 25vh;
    left: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
    background: linear-gradient(135deg, #808080, #8f8f8f);
    padding: 1vh 1vw;
    border-radius: 1vh;
}

.redLight {
    background-color: #580000;
    border: 0.1vw solid black;
    width: 0.7vw;
    height: 0.7vw;
    border-radius: 50%;
    flex: 0 1 0.7%;
    margin: 1vh 2.5vw;
}

.redLightOn {
    background-color: #ff0000;
}