/* ------- OVERRIDES BROWSER STYLING OF RANGE SLIDER ------- */
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    }

    input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    }

    input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
    }

    input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
    }

input[type=range] {
    -webkit-appearance: none;
    margin: 10vh 2vw 5vh;
    width: 80%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 80%;
    height: 0.9vh;
    cursor: pointer;
    background: linear-gradient(135deg, #505050, #3d3d3d);
    border-radius: 1.3vh;
    border: 0.1vh solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 6px 4px 7px -1px #4b4b4b;
    border: 0.1vh solid #000000;
    height: 3.8vh;
    width: 1.4vw;
    border-radius: 0.5vw;
    background: linear-gradient(135deg, #d3d3bd, #b8b7b7);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: linear-gradient(135deg, #505050, #3d3d3d);
  }
  input[type=range]::-moz-range-track {
    width: 80%;
    height: 0.9vh;
    cursor: pointer;
    background: linear-gradient(135deg, #505050, #3d3d3d);
    border-radius: 1.3vh;
    border: 0.1vh solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 6px 4px 7px -1px #4b4b4b;
    border: 0.1vh solid #000000;
    height: 3.8vh;
    width: 1.4vw;
    border-radius: 0.5vw;
    background: linear-gradient(135deg, #d3d3bd, #b8b7b7);
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 80%;
    height: 0.9vh;
    cursor: pointer;
    background: linear-gradient(135deg, #505050, #3d3d3d);
    border-radius: 1.3vh;
    border: 0.1vh solid #010101;
  }
  input[type=range]::-ms-fill-lower {
    box-shadow: 6px 4px 7px -1px #4b4b4b;
    background: linear-gradient(135deg, #505050, #3d3d3d);
    border-radius: 1.3vh;
    border: 0.1vh solid #010101;
  }
  input[type=range]::-ms-fill-upper {
    box-shadow: 6px 4px 7px -1px #4b4b4b;
    background: linear-gradient(135deg, #505050, #3d3d3d);
    border-radius: 1.3vh;
    border: 0.1vh solid #010101;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 6px 4px 7px -1px #4b4b4b;
    border: 0.1vh solid #000000;
    height: 3.8vh;
    width: 1.4vw;
    border-radius: 0.5vw;
    background: linear-gradient(135deg, #d3d3bd, #b8b7b7);
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: linear-gradient(135deg, #505050, #3d3d3d);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: linear-gradient(135deg, #505050, #3d3d3d);
  }